@model ExamManagement.Models.CreateExamQuestionsViewModel

@{
    ViewData["Title"] = "Create Exam Questions";
}

<h1>Create Exam Questions</h1>

<form asp-action="CreateExamQuestions">
   
    <div class="form-group">
        <label asp-for="CourseName" class="control-label"></label>
        <select asp-for="CourseName" class="form-control" asp-items="ViewBag.CourseName"></select>
    </div>
    <div class="form-group">
        <label for="NumberOfQuestions">Number of Questions:</label>
        <input type="number" id="NumberOfQuestions" name="numberOfQuestions" class="form-control" min="1" required />
        <span asp-validation-for="NumberOfQuestions" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="submit" value="Create Exam" class="btn btn-primary" />
</form>