<ul class="sidebar-nav">
	<li class="sidebar-header">
		Admin Manager
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Exams" asp-action="Index">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Exams</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Questions" asp-action="Index">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Questions</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Courses" asp-action="Index">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Courses</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Admin" asp-action="Students">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Students</span>
		</a>
	</li>
	
	<li class="sidebar-header">
		Test Manager
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="StudentExam" asp-action="Index">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Test</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="StudentExam" asp-action="ExamTimesIndex">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Test result</span>
		</a>
	</li>
</ul>